*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
  max-width: 1360px;
}

.section-title {
  font-family: "Poppins", serif;
  font-size: 3.2rem;
  line-height: 1.4em;
  font-weight: 800;
}
.section-title--gradient {
  background: linear-gradient(136.67deg, #d4088c 48.95%, #cb078b 51.3%, #85068a 76%, #580689 93.64%, #480689 102.46%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-title--h2 {
  margin-bottom: 0.35em;
  font-size: 2.4rem;
}
.section-title--h3 {
  font-size: 1.8rem;
  margin-bottom: 0.35em;
}

.section-text {
  font-family: "Inter", serif;
  line-height: 1.75em;
  font-weight: 400;
}

.textbox {
  max-width: 290px;
  text-align: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  height: 14px;
  width: 18px;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__line {
  border-radius: 1px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.btn {
  position: relative;
  padding: 1em;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #fff;
}
.btn__text {
  background: linear-gradient(136.67deg, #d4088c 48.95%, #cb078b 51.3%, #85068a 76%, #580689 93.64%, #480689 102.46%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.btn::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 10px;
  opacity: 1;
  color: #fff;
  background-image: linear-gradient(200deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);
  transition: opacity 0.3s;
}
.btn:hover::before {
  opacity: 0;
}

.card {
  position: relative;
  max-width: 380px;
  z-index: 0;
}
.card__bg, .card__body {
  border-radius: 20px;
}
.card__bg {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  filter: blur(12px);
  background-image: linear-gradient(200deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);
  z-index: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.card__body {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 40px 40px;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #353466;
  z-index: 1;
}
.card__textbox {
  max-width: 200px;
}
.card__img--medium {
  display: none;
}
.card__img--middle {
  transform: translateX(-20%);
}
.card:hover .card__bg {
  opacity: 1;
}

@media (min-width: 576px) {
  .container {
    padding: 0 8rem;
  }
  .section-title {
    font-size: 4rem;
  }
  .section-title--h2 {
    font-size: 3.2rem;
  }
  .section-title--h3 {
    font-size: 2.4rem;
  }
  .section-text {
    font-size: 1.4rem;
  }
  .btn,
.btn__text {
    font-size: 1.6rem;
  }
  .card__body {
    gap: 30px;
    padding: 60px;
  }
  .card__img--small {
    display: none;
  }
  .card__img--medium {
    display: block;
  }
  .card__textbox {
    max-width: none;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4.8rem;
  }
  .section-title--h2 {
    font-size: 4rem;
  }
  .section-title--h3 {
    font-size: 2.4rem;
  }
  .section-text {
    font-size: 1.6rem;
  }
  .textbox {
    max-width: 440px;
  }
}
:root {
  background-color: #18184B;
}

body {
  font-size: 1.1rem;
  color: #fff;
  background-image: radial-gradient(72.11% 92.81% at 49.72% 48.15%, #22215b 0%, #1e1e55 33%, #141544 75%, #0c0f38 100%);
}

section {
  padding-bottom: 25em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
.nav__logo {
  z-index: 1;
}
.nav__logo a {
  display: flex;
  padding: 0.5em;
  padding-left: 0;
}
.nav__hamburger {
  box-sizing: content-box;
  padding: 0.5em;
  padding-right: 0;
  z-index: 1;
}
.nav__items {
  display: none;
}
.nav__item {
  padding: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.nav__item--slide {
  font-size: 2.8rem;
}
.nav__btn::before {
  content: "Contact";
}
.nav__btn--slide {
  margin-top: 1.5em;
  padding: 0.75em 1em;
  font-size: 2.8rem;
}
.nav__slide-out {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transform: translateX(105%);
  background-color: #000;
  transition: transform 1s, opacity 1s;
}

.sticky-body {
  overflow: hidden;
}

.slide-out {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  padding-top: 10em;
}
.hero__text {
  padding: 2em 0 6em;
  max-width: 225px;
}
.hero__btn::before {
  content: "Request a quote";
}
.hero__img {
  display: none;
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding-top: 8rem;
}

@media (min-width: 576px) {
  .hero__text {
    max-width: 360px;
  }
  .hero__title {
    max-width: 450px;
  }
  .about__cards {
    padding-top: 14rem;
  }
}
@media (min-width: 768px) {
  .nav__bar {
    padding: 2.75em 0;
  }
  .nav__item {
    font-size: 1.6rem;
  }
  .nav__items {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .nav__btn {
    margin-left: 3em;
  }
  .hero {
    padding-top: 20em;
  }
}
@media (min-width: 992px) {
  .nav__items {
    gap: 3em;
  }
  .nav__btn__btn {
    margin-left: 4em;
  }
  .hero__text {
    max-width: 490px;
  }
  .hero__title {
    max-width: 550px;
  }
}
@media (min-width: 1200px) {
  .hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__img--small {
    display: block;
    width: 500px;
  }
}
@media (min-width: 1360px) {
  .hero__img {
    display: block;
  }
  .hero__img--small {
    display: none;
  }
  .about__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=main.css.map */