*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding: 10em;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 56px;
}
.title-h2 {
  font-size: 4rem;
}
.title-h3 {
  font-size: 3.2rem;
  line-height: 48px;
}
.title-h4 {
  font-size: 2.4rem;
  line-height: 28px;
}
.title-gradient {
  background: linear-gradient(136.67deg, #d4088c 48.95%, #cb078b 51.3%, #85068a 76%, #580689 93.64%, #480689 102.46%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text {
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
}
.text-small {
  font-size: 1.2rem;
  line-height: 14px;
}
.text-other {
  font-weight: 600;
  line-height: 34px;
}
.text-other-slide {
  font-size: 2.8rem;
}
.text-gradient {
  background: linear-gradient(136.67deg, #d4088c 48.95%, #cb078b 51.3%, #85068a 76%, #580689 93.64%, #480689 102.46%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-width {
  max-width: 600px;
}
.text-width-hero {
  max-width: 420px;
}
.text-width-about {
  max-width: 400px;
}
.text-width-works {
  max-width: 350px;
}
.text-width-team {
  max-width: 390px;
}
.text-width-contact {
  max-width: 370px;
}
.text-width-card {
  max-width: 260px;
}
.text-width-about, .text-width-works, .text-width-team, .text-width-contact {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
  max-width: 1360px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border: none;
  height: 24px;
  width: 24px;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__line {
  border-radius: 2px;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.btn {
  position: relative;
  display: inline;
}
.btn__front, .btn__reverse {
  padding: 0.5em 1em;
  border-radius: 10px;
}
.btn__front {
  position: absolute;
  border-radius: 8px;
  opacity: 1;
  background-image: linear-gradient(225deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);
  transition: opacity 0.3s;
}
.btn__reverse {
  display: inline-block;
  background-color: #fff;
}
.btn__text--gradient {
  background: linear-gradient(225deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.btn:hover .btn__front {
  opacity: 0;
}

.card {
  position: relative;
  display: block;
  width: 100%;
  max-width: 380px;
  z-index: 0;
}
.card__bg, .card__body {
  border-radius: 20px;
}
.card__bg {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s;
  background-image: linear-gradient(225deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);
  z-index: 0;
}
.card__body {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 40px;
  padding: 20% 10%;
  width: 100%;
  height: 100%;
  background-color: #3f306b;
  z-index: 1;
}
.card__img--medium {
  display: none;
}
.card__img--middle {
  transform: translateX(-20%);
}
.card:hover .card__bg {
  opacity: 1;
}

.profile {
  width: 100%;
  max-width: 278px;
}
.profile__circle {
  position: relative;
  border-radius: 50%;
  padding-bottom: 100%;
  background-color: #3f306b;
  overflow: hidden;
}
.profile__shadow {
  transform: translateX(-50%);
  width: 110%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));
}
.profile__bart {
  position: absolute;
  top: 3%;
  left: 55%;
}
.profile__casper {
  position: absolute;
  top: 3px;
  left: 52.5%;
}
.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25em;
}
.profile__links {
  display: flex;
  gap: 10px;
  margin-top: 1.25em;
}

@media (min-width: 576px) {
  .container {
    padding: 0 8rem;
  }
  .card__img--small {
    display: none;
  }
  .card__img--medium {
    display: block;
  }
}
:root {
  background-color: #1c0b4e;
}

body {
  font-size: 1.6rem;
  color: #fff;
}

section {
  padding-bottom: 25em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
}
.nav__logo {
  z-index: 1;
}
.nav__logo a {
  display: flex;
  padding: 0.5em;
  padding-left: 0;
}
.nav__hamburger {
  box-sizing: content-box;
  padding: 1em;
  padding-right: 0;
  z-index: 1;
}
.nav__items {
  display: none;
}
.nav__item {
  padding: 1em;
}
.nav__slide-out {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transform: translateX(105%);
  background-color: #000;
  transition: transform 1s, opacity 1s;
}
.nav__btn {
  margin-top: 2em;
}

.sticky-body {
  overflow: hidden;
}

.slide-out {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  padding-top: 8em;
}
.hero__text {
  padding: 1.5em 0 5em;
}

.about h3 {
  font-size: 2.4rem;
}
.about__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about__cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  padding-top: 14rem;
}

.team__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.team__profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 14rem;
  width: 100%;
  gap: 50px;
}

@media (min-width: 576px) {
  .nav__bar {
    padding: 2em 0;
  }
  .hero {
    padding-top: 12em;
  }
}
@media (min-width: 768px) {
  .sticky-body {
    overflow: visible;
  }
  .nav__hamburger, .nav__slide-out {
    display: none;
  }
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
  }
  .nav__btn {
    margin-left: 2em;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 16em;
  }
}
@media (min-width: 1360px) {
  .about__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=main.css.map */