@use './utilities' as *;

:root {
	background-color: $primary-color;
}

body {
	font-size: 1.6rem;
	color: $text-color;
}

a:focus{
	outline: 2px solid $text-color;
	border-radius: 10px;
}

.hero,
.about,
.team,
.works,
.contact {
	padding-top: 10rem;
	padding-bottom: 20rem;
}

// Nav

.nav {
	@include positioning($pos: fixed);
	width: 100%;
	background-color: $primary-color;
	z-index: 2;
	&__bar {
		@include display-flex($jc: space-between, $ai: center);
		padding: 12px 0;
	}
	&__logo {
		z-index: 1;
		a {
			display: flex;
			padding: 0.5em;
			padding-left: 0;
		}
	}
	&__hamburger {
		box-sizing: content-box;
		padding: 1em;
		padding-right: 0;
		z-index: 1;
	}
	&__items {
		display: none;
	}
	&__item {
		padding: 1em;
	}
	&__slide-out {
		@include positioning($pos: fixed);
		@include display-flex($fd: column, $jc: center, $ai: center);
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transform: translateX(105%);
		background-color: $slide-out-nav-color;
		transition: transform 1s, opacity 1s;
	}
	&__btn {
		margin-top: 2em;
	}
}

.sticky-body {
	overflow: hidden;
}

.slide-out {
	opacity: 1;
	transform: translateX(0);
}

// Hero

.hero {
	position: relative;
	padding-top: 13rem;
	&__box {
		@include display-flex($jc: space-between, $ai: center);
	}
	&__textbox {
		position: relative;
	}
	&__text {
		padding: 1.5em 0 5em;
	}
	&__imgbox {
		position: relative;
		display: none;
		&-under {
			position: absolute;
			left: 66px;
			top: 160.24px;
		}
		&-over {
			position: absolute;
			left: 78.41px;
			top: 37px;
			transform: translate(0);
			filter: $laptop-shadow;
			animation: move 8s infinite;
		}
	}
	.circlebox{
		&-3, &-4{
			display: none;
		}
	}
}

// About

.about {
	&__box {
		@include display-flex($fd: column, $ai: center);
	}
	&__cards {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;
		gap: 30px;
		padding-top: 14rem;
	}
}

// Works

.works {
	overflow: hidden;
	&__box {
		@include display-flex($fd: column);
	}
	&__items {
		position: relative;
		display: flex;
		@include display-flex($jc: space-evenly);
		padding-top: 14rem;
		pointer-events: none;
	}
	&__item {
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__togglers,
	&__textbox {
		margin: 0 auto;
	}
	&__togglers {
		margin-top: 3em;
		button {
			padding: 0.5em;
		}
	}
	.show {
		position: absolute;
		opacity: 1;
		pointer-events: auto;
	}
}

// Team

.team {
	&__box {
		@include display-flex($fd: column, $ai: center);
	}
	&__profiles {
		@include display-flex($fd: row, $jc: space-around, $ai: center);
		flex-wrap: wrap;
		padding-top: 14rem;
		width: 100%;
		gap: 50px;
	}
}

// Contact

.contact {
	padding-bottom: 13rem;
	&__items {
		@include display-flex($fd: column);
		gap: 80px;
		h4 {
			position: relative;
			padding-left: 10px;
		}
		h4::before {
			content: '';
			@include positioning;
			height: 100%;
			width: 6px;
			border-radius: 20px;
			transform: translateX(-100%);
			background-color: $secondary-color;
		}
	}
	&__box {
		@include display-flex($fd: column, $ai: center);
	}
	&__content {
		display: grid;
		justify-content: flex-start;
		grid-template-columns: 1fr;
		gap: 80px;
		padding-top: 19rem;
		width: 100%;
	}
	&__title {
		text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
	}

	&__value {
		@include display-flex($ai: center);
		gap: 10px;
		padding-top: 20px;
		padding-left: 10px;
		&--links {
			gap: 20px;
			a {
				transition: transform 0.3s;
			}
			a:hover {
				transform: scale(1.25);
			}
		}
	}
	&__form {
		width: 100%;
		&-title {
			margin-bottom: 30px;
		}
		&-label {
			display: block;
			padding-bottom: 10px;
		}
		&-inputbox {
			margin-bottom: 20px;
		}
		&-btn {
			display: block;
			margin: 0 auto;
		}
	}
}

// Fotter

.fotter {
	padding: 3em 0;
	background-color: $fotter-color;
	a,
	p {
		padding: 1em;
	}
	&__box {
		@include display-flex($fd: column, $jc: space-between, $ai: center);
		gap: 40px;
	}
	&__links {
		@include display-flex($ai: center);
		a {
			transition: transform 0.3s;
		}
		a:hover {
			transform: scale(1.25);
		}
	}
}

@media (min-width: 576px) {
	.hero {
		padding-top: 20rem;
	}
	.contact {
		padding-bottom: 20rem;
	}
}

@media (min-width: 768px) {
	.hero{
		.circlebox{
			&-3, &-4{
				display: block;
			}
		}
	}
	.sticky-body {
		overflow: visible;
	}
	.nav {
		&__hamburger,
		&__slide-out {
			display: none;
		}
		&__items {
			@include display-flex($ai: center);
			gap: 2em;
		}
		&__item {
			pointer-events: auto;
		}
		&__btn {
			margin-left: 2em;
			margin-top: 0;
		}
	}
	.contact {
		&__content {
			max-width: 1000px;
			grid-template-columns: auto minmax(0, 380px);
			justify-content: space-between;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		padding-top: 25rem;
	}
	.contact {
		padding-bottom: 25rem;
	}
	.fotter {
		padding: 14px 0;
		&__box {
			flex-direction: row;
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		.circlebox{
			&-3, &-4{
				display: none;
			}
		}
		&__imgbox {
			display: block;
			width: 417.9px;
			height: 378.92px;
			top: -20px;
			left: -80px;
		}
	}
	.about {
		padding-bottom: 10em;
	}
	.works {
		padding-top: 0;
		&__box {
			padding-top: 20rem;
			position: relative;
		}
		&__items {
			left: 40%;
			padding: 0;
		}
		&__item {
			position: relative;
			left: 0px;
			opacity: 1;
			transition: left 0.8s, transform 0.8s;
			pointer-events: auto;
		}
		&__textbox {
			position: absolute;
			top: 45%;
		}
		&__togglers {
			display: none;
		}
		&__italianpizza {
			pointer-events: none;
		}
		&__justyou {
			transform: scale(0.85);
		}
		.show {
			position: relative;
		}
		.swap1 {
			left: -47%;
			transform: scale(1);
			pointer-events: none;
			z-index: 0;
		}
		.swap2 {
			left: 47%;
			transform: scale(0.85);
			pointer-events: auto;
			z-index: 1;
		}
		.swap3 {
			left: 0;
			transform: scale(0.85);
			pointer-events: auto;
			z-index: 1;
		}
		.swap4 {
			left: 0;
			transform: scale(1);
			pointer-events: none;
			z-index: 0;
		}
		.work-item {
			&__links {
				pointer-events: visible;
			}
		}
	}
}

@media (min-width: 1360px) {
	.about {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
