@use './utilities' as *;

:root {
	background-color: $over-body-color;
}

body {
	font-size: 1.1rem;
	color: $pure-white;
	background-image: $background-gradient;
}

section {
	padding-bottom: 25em;
}

// Nav
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	&__bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5em 0;
	}
	&__logo {
		z-index: 1;
		a {
			display: flex;
			padding: 0.5em;
			padding-left: 0;
		}
	}
	&__hamburger {
		box-sizing: content-box;
		padding: 0.5em;
		padding-right: 0;
		z-index: 1;
	}
	&__items {
		display: none;
	}
	&__item {
		padding: 1em;
		font-family: 'Inter', sans-serif;
		font-weight: 600;
		text-decoration: none;
		color: $pure-white;
		&--slide {
			font-size: 2.8rem;
		}
	}
	&__btn {
		&::before {
			content: 'Contact';
		}
		&--slide {
			margin-top: 1.5em;
			padding: 0.75em 1em;
			font-size: 2.8rem;
		}
	}
	&__slide-out {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transform: translateX(105%);
		background-color: $pure-black;
		transition: transform 1s, opacity 1s;
	}
}

.sticky-body {
	overflow: hidden;
}

.slide-out {
	opacity: 1;
	transform: translateX(0);
}

// Hero

.hero {
	padding-top: 10em;
	&__text {
		padding: 2em 0 6em;
		max-width: 225px;
	}
	&__btn {
		&::before {
			content: 'Request a quote';
		}
	}
	&__img {
		display: none;
	}
}

// About

.about {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 30px;
		padding-top: 8rem;
	}
}

@media (min-width: 576px) {
	.hero {
		&__text {
			max-width: 360px;
		}
		&__title {
			max-width: 450px;
		}
	}
	.about {
		&__cards {
			padding-top: 14rem;
		}
	}
}
@media (min-width: 768px) {
	.nav {
		&__bar {
			padding: 2.75em 0;
		}
		&__item {
			font-size: 1.6rem;
		}
		&__items {
			display: flex;
			align-items: center;
			gap: 1em;
		}
		&__btn {
			margin-left: 3em;
		}
	}

	.hero {
		padding-top: 20em;
	}
}

@media (min-width: 992px) {
	.nav {
		&__items {
			gap: 3em;
		}
		&__btn {
			&__btn {
				margin-left: 4em;
			}
		}
	}
	.hero {
		&__text {
			max-width: 490px;
		}
		&__title {
			max-width: 550px;
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__img--small {
			display: block;
			width: 500px;
		}
	}
}

@media (min-width: 1360px) {
	.hero {
		&__img {
			display: block;
			&--small {
				display: none;
			}
		}
	}
	.about {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
