@use './utilities' as *;

:root {
	background-color: $primary-color;
}

body {
	font-size: 1.6rem;
	color: $text-color;
}

section {
	padding-bottom: 25em;
}

// Nav

.nav {
	@include positioning($pos: fixed);
	width: 100%;
	background-color: $primary-color;
	z-index: 1;
	&__bar {
		@include display-flex($jc: space-between, $ai: center);
		padding: 0.5em 0;
	}
	&__logo {
		z-index: 1;
		a {
			display: flex;
			padding: 0.5em;
			padding-left: 0;
		}
	}
	&__hamburger {
		box-sizing: content-box;
		padding: 1em;
		padding-right: 0;
		z-index: 1;
	}
	&__items {
		display: none;
	}
	&__item {
		padding: 1em;
	}
	&__slide-out {
		@include positioning($pos: fixed);
		@include display-flex($fd: column, $jc: center, $ai: center);
		height: 100vh;
		width: 100vw;
		opacity: 0;
		transform: translateX(105%);
		background-color: $slide-out-nav-color;
		transition: transform 1s, opacity 1s;
	}
	&__btn {
		margin-top: 2em;
	}
}

.sticky-body {
	overflow: hidden;
}

.slide-out {
	opacity: 1;
	transform: translateX(0);
}

// Hero

.hero {
	padding-top: 8em;
	&__text {
		padding: 1.5em 0 5em;
	}
}

// About

.about {
	// Card title
	h3 {
		font-size: 2.4rem;
	}
	&__box {
		@include display-flex($fd: column, $ai: center);
	}
	&__cards {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;
		gap: 30px;
		padding-top: 14rem;
	}
}

// Team

.team {
	&__box {
		@include display-flex($fd: column, $ai: center);
	}
	&__profiles {
		@include display-flex($fd: row, $jc: space-around, $ai: center);
		flex-wrap: wrap;
		padding-top: 14rem;
		width: 100%;
		gap: 50px;
	}
}

// Works

.works {
	overflow: hidden;
	&__box {
		@include display-flex($fd: column);
	}
	&__items {
		position: relative;
		display: flex;
		@include display-flex($jc: space-evenly);
		padding-top: 14rem;
		pointer-events: none;
	}
	&__item {
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__togglers,
	&__textbox {
		margin: 0 auto;
	}
	&__togglers {
		margin-top: 3em;
		button {
			padding: 0.5em;
		}
	}
	.show {
		position: absolute;
		opacity: 1;
		pointer-events: auto;
	}
}

// Fotter

.fotter {
	padding: 3.5em 0;
	background-color: $fotter-color;
	a,
	p {
		padding: 1em;
	}
	&__box {
		@include display-flex($fd: column, $jc: space-between, $ai: center);
		gap: 50px;
	}
	&__links {
		@include display-flex($ai: center);
	}
}

@media (min-width: 576px) {
	.hero {
		padding-top: 12em;
	}
}

@media (min-width: 768px) {
	.sticky-body {
		overflow: visible;
	}
	.nav {
		&__hamburger,
		&__slide-out {
			display: none;
		}
		&__items {
			@include display-flex($ai: center);
			gap: 2em;
		}
		&__item {
			pointer-events: auto;
		}
		&__btn {
			margin-left: 2em;
			margin-top: 0;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		padding-top: 16em;
	}
	.fotter {
		padding: 2em 0;
		&__box {
			flex-direction: row;
		}
	}
}

@media (min-width: 1200px) {
	.works {
		&__box {
			position: relative;
		}
		&__items {
			left: 40%;
			padding: 0;
		}
		&__item {
			order: 1;
			opacity: 1;
			transform: scale(0.85);
			transition: order 1s, transform 1s;
			pointer-events: auto;
		}
		&__textbox {
			position: absolute;
			top: 20%;
		}
		&__togglers {
			display: none;
		}
		.show {
			position: static;
		}
		.swap {
			order: 0;
			transform: scale(1);
			pointer-events: none;
		}
		.work-item {
			&__links {
				pointer-events: visible;
			}
		}
	}
}

@media (min-width: 1360px) {
	.about {
		&__cards {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
	}
}
