$pure-white: #fff;
$pure-black: #000;
$over-body-color: #18184B;

$primary-gradient: linear-gradient(200deg, #d4088c 14.65%, #cb078b 17.48%, #85068a 47.18%, #580689 68.39%, #480689 79%);

$primary-reverse-gradient: linear-gradient(
	136.67deg,
	#d4088c 48.95%,
	#cb078b 51.3%,
	#85068a 76%,
	#580689 93.64%,
	#480689 102.46%
);

$cards-color: #353466;

$background-gradient: radial-gradient(
	72.11% 92.81% at 49.72% 48.15%,
	#22215b 0%,
	#1e1e55 33%,
	#141544 75%,
	#0c0f38 100%
);
