@use './colors' as *;
@use './mixins' as *;

.container {
	margin: 0 auto;
	padding: 0 4rem;
	width: 100%;
	max-width: 1360px;
}

.hamburger {
	@include display-flex($fd: column, $jc: space-evenly);
	border: none;
	height: 24px;
	width: 24px;
	background-color: transparent;
	cursor: pointer;
	&__line {
		border-radius: 2px;
		height: 2px;
		width: 100%;
		background-color: $text-color;
	}
}

.btn {
	position: relative;
	display: inline;
	&__front,
	&__reverse {
		padding: 0.5em 1em;
		border-radius: 10px;
	}
	&__front {
		position: absolute;
		border-radius: 8px;
		opacity: 1;
		background-image: $primary-gradient;
		transition: opacity 0.3s;
	}
	&__reverse {
		display: inline-block;
		background-color: $reverse-button-color;
	}
	&__text {
		&--gradient {
			@include text-gradient($primary-gradient);
		}
	}
	&:hover &__front {
		opacity: 0;
	}
}

.card {
	position: relative;
	display: block;
	width: 100%;
	max-width: 380px;
	z-index: 0;
	&__bg,
	&__body {
		border-radius: 20px;
	}
	&__bg {
		position: absolute;
		@include shadow(5px, 12px);
		opacity: 0;
		transition: opacity 0.3s;
		background-image: $primary-gradient;
		z-index: 0;
	}
	&__body {
		position: relative;
		display: grid;
		grid-template-rows: auto;
		justify-items: center;
		align-items: center;
		gap: 30px;
		padding: 12.5% 7.5%;
		width: 100%;
		height: 100%;
		background-color: $secondary-color;
		z-index: 1;
	}
	&__img {
		&--medium {
			display: none;
		}
		&--middle {
			transform: translateX(-20%);
		}
	}
	&:hover &__bg {
		opacity: 1;
	}
}

.profile {
	width: 100%;
	max-width: 278px;
	&__circle {
		position: relative;
		border-radius: 50%;
		padding-bottom: 100%;
		background-color: $secondary-color;
		overflow: hidden;
	}
	&__shadow {
		transform: translateX(-50%);
		width: 110%;
		filter: $profile-img-shadow;
	}
	&__bart {
		@include positioning($t: 3%, $l: 55%);
	}
	&__casper {
		@include positioning($t: 3px, $l: 52.5%);
	}
	&__description {
		@include display-flex($fd: column, $ai: center);
		margin-top: 1.25em;
	}
	&__links {
		display: flex;
		gap: 10px;
		margin-top: 1.25em;
		a {
			transition: transform 0.3s;
		}
		a:hover {
			transform: scale(1.25);
		}
	}
}

.work-item {
	@include display-flex($fd: column);
	width: 100%;
	max-width: 480px;
	&__content {
		@include display-flex($jc: space-between);
		gap: 10px;
		padding: 5% 5% 5%;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: $secondary-color;
	}
	&__textbox {
		@include display-flex($fd: column, $jc: space-between);
		padding: 0.5em;
	}
	&__title {
		position: relative;
		width: max-content;
		padding-bottom: 0.5em;
	}
	&__icon {
		position: absolute;
		transform: translateY(-50%);
		right: -40px;
		&--one {
			top: 48%;
		}
		&--two {
			top: 35%;
		}
	}
	&__links {
		@include display-flex($fd: column, $jc: space-between);
		a {
			display: flex;
			padding: 0.5em;
			transition: transform 0.3s;
		}
		a:hover {
			transform: scale(1.25);
		}
	}
}
@media (min-width: 420px) {
	.work-item {
		&__content {
			padding: 5% 5% 7.5%;
		}
		&__title {
			padding-bottom: 2em;
		}
		&__links {
			img {
				transform: scale(1.8);
			}
		}
		&__icon {
			transform: translateY(-50%) scale(1.3);
			right: -50px;
			&--one {
				top: 27.5%;
			}
			&--two {
				top: 20%;
			}
		}
	}
}

@media (min-width: 576px) {
	.container {
		padding: 0 8rem;
	}
	.card {
		&__img {
			&--small {
				display: none;
			}
			&--medium {
				display: block;
			}
		}
		&__body {
			padding: 15% 10%;
		}
	}
}
