@mixin text-gradient($gradient) {
	background: $gradient;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@mixin shadow($px, $blur) {
	top: -$px;
	bottom: -$px;
	left: -$px;
	right: -$px;
	filter: blur($blur);
}

@mixin positioning($pos: absolute, $t: 0, $l: 0) {
	position: $pos;
	top: $t;
	left: $l;
}

@mixin positioning($pos: absolute, $t: 0, $l: 0) {
	position: $pos;
	top: $t;
	left: $l;
}


@mixin display-flex($fd: row, $jc: flex-start, $ai: stretch) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
}