@mixin text-gradient($gradient) {
	background: $gradient;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@mixin shadow($px, $blur) {
	top: -$px;
	bottom: -$px;
	left: -$px;
	right: -$px;
	filter: blur($blur);
}
